Source: ubuntudde-default-settings
Section: admin
Priority: optional
Maintainer: Arun Kumar Pariyar <expertaruncorp@gmail.com>
Standards-Version: 4.5.0
Build-Depends: debhelper-compat (=12)

Package: ubuntudde-default-settings
Architecture: all
Depends: ${misc:Depends}, iw
Suggests: binfmt-support
Description: default settings for UbuntuDDE
 This package does tweaking and to provide better experience of UbuntuDDE desktop
 environment.
