Source: ubuntudde-default-settings
Section: admin
Priority: optional
Maintainer: Arun Kumar Pariyar <expertaruncorp@gmail.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8.1.3~)

Package: ubuntudde-default-settings
Architecture: all
Depends: ${misc:Depends}, iw
Suggests: binfmt-support
Description: default settings for UbuntuDDE
 This package does tweaking and to provide better experience of UbuntuDDE desktop
 environment.

Package: ubuntudde-default-settings-tuning
Architecture: all
Depends: ${misc:Depends} 
Description: default settings for UbuntuDDE - misc overrides
 This package does tweaking and to provide better experience of UbuntuDDE desktop
 environment.
